# 设置代理-遇到下载包找不到情况
#proxy=http://127.0.0.1:7890
#https-proxy=http://127.0.0.1:7890


# 设置国内淘宝镜像
registry=https://registry.npmjs.org/
#registry=https://registry.npmmirror.com





# 生产文件pnpm-lock.yaml
lockfile = false 




# link-workspace-packages = true



# shamefully - hoist = true时，pnpm会将依赖提升到项目根目录下的node_modules中。这类似于npm的传统行为
# shamefully-hoist = true




# npm  config set msvs_version 2019
# node 版本 要求 16.19.1




#  npm config get registry

#  C:\Users\Administrator\.windows-build-tools

#  npm --python_mirror=http://mirrors.cloud.tencent.com/python   install --global windows-build-tools
#  npm --python_mirror=https://www.python.org/ftp/python/        install --global windows-build-tools

#  默认情况下安装的是vs2017, 在vs2017下一直卡着有问题，换了vs2015几分钟解决
#             npm --vs2015 install --global --production windows-build-tools            --python_mirror=https://www.python.org/ftp/python/  

#  electron-iohook-demo: electron集成iohook



